### Mac OS X ###
.DS_Store
 
### XCode ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
 
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
 
UserInterfaceState.xcuserstate

GridView/GridView.xcodeproj/project.xcworkspace/xcuserdata/akabeko.xcuserdatad/WorkspaceSettings.xcsettings

GridView/GridView.xcodeproj/xcuserdata/akabeko.xcuserdatad/xcschemes/GridView.xcscheme

GridView/GridView.xcodeproj/xcuserdata/akabeko.xcuserdatad/xcschemes/xcschememanagement.plist
